<%= form_with model: Comment, url: author_post_comments_path(@author, @post), class: "comment-form" , id:"comment-form" do |form| %>
        <div>
            
            <%= form.text_field :text, placeholder: "Add a new comment" %>
        </div>
        <div>
            <%= form.submit "Comment:" %>
        </div>
    <% end %> 