<header class="header-container">
      <div>
        MyLogo
      </div>
<ul>
<li>
          <a href="/">users index</a>
        </li>
        <li>
          <a href="/authors/show">users show</a>
        </li>
        <li>
          <a href="/authors/show/posts/">posts index</a>
        </li>
        <li>
          <a href="/authors/show/posts/show">posts show</a>
        </li>
</ul>
  </header>

