<header class="header-container">
      <div>
        MyLogo
      </div>
<ul>
  <li><%= link_to 'Home', root_path%></li>  
  <%= button_to "Logout", destroy_author_session_path, method: :delete  %>  
</ul>
  </header>

