<div class="post-form-container">
  <div class="post-form">
    <%= form_with model: Post.new, url:author_posts_path, class:"create-post" do |form| %>

      <%= form.text_field :title, placeholder: "Post title", class:"textarea" %>
      <%= form.text_area :text, size: "70x5", placeholder: "Your post message", class:"textarea"%>
      <%= form.submit "Create", class:"post-btn" %> 

    <% end %>
  </div>
</div>