
.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.log-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
