.post-comment {
  display: flex;
  flex-direction: column;
  padding: 10px 0px 0px 0px ;
}

.comment-title {
  font-weight: bold;
  font-size: 1.4rem;
}

.pagination-btn {
  width: 90px;
  padding: 10px;
  box-shadow: 2px 5px #888;
}

.like {
  padding: 10px;
  border-radius: 10px;
}
